@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

:root {
    --redColor: rgb(255, 0, 51);
    --textColor: #ababab;
    --aboutSpanColor: rgb(0, 26, 255);
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(IMG_20230414_165907.jpg);
    background-size: 50% 80%;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    position: relative;
}

.container {
    padding: 2px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 150px;
    text-align: center;
    font-size: 50px;
}

.logo span {
    color: red;
    font-size: 55px;
    font-weight: bold;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 10px 20px;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    position: relative;
}

nav li a::before {
    content: '';
    width: 0;
    height: 3px;
    background: var(--redColor);
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: width 0.6s;
}

nav li a:hover::before {
    width: 100%;
}

.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}

.content h1 {
    font-size: 50px;
    margin-top: 20px;
}

.content span {
    color: var(--redColor);
}

/* ABOUT */
#about {
    padding: 100px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row .col-1 {
    flex-basis: 40%;
}

.row .col-1 img {
    width: 100%;
    border-radius: 10px;
}

.row .col-2 {
    flex-basis: 55%;
}

.title {
    font-size: 50px;
    margin: 0 0 10px;
    font-weight: 600;
    
}

.title span {
    color: var(--redColor);
}

.tab-titles {
    margin: 20px 0 40px;
    display: flex;
}

.tab-links {
    margin-right: 60px;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.tab-links::before {
    content: '';
    width: 0;
    height: 3px;
    background: var(--redColor);
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: 0.5s;
}

.tab-links.active::before {
    width: 60%;
}

.tab-contents {
    display: none;
}

.tab-contents.active {
    display: block;
}

.tab-contents ul li {
    margin: 10px 0;
    list-style: none;
    font-size: 25px;
}

.tab-contents ul li span {
    color: red;
    font-size: 20px;
    font-weight: 600;
}



/* WORKS */
#work {
    padding: 100px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 20px 0;
}

.work-list .work {
    width: 100%;
    border: solid grey 2px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.work-list .work img {
    width: 100%;
    display: block;
    transition: 0.6s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(#fffeee7f, var(--redColor));
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.6s;
}

.layer h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
    color: black;
}

.layer p {
    font-size: 16px;
    word-spacing: 2px;
    line-height: 1.5rem;
    margin-bottom: 30px;
}

.layer a {
    color: var(--redColor);
    text-decoration: none;
    font-size: 20px;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

.layer a>i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.work-list .work:hover .layer {
    height: 100%;
}

.work-list .work:hover img {
    transform: scale(1.2);
}

.container .btn {
    width: fit-content;
    display: block;
    margin: 20px auto;
    background: var(--redColor);
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: 0.6s;
    font-weight: bold;
    box-shadow: 0 0 15px #fffeee;
}

.container .btn:hover {
    transform: scale(1.1);
}

/* CONTACT */
#contact {
    padding: 100px 0;
}

.contact-l {
    flex-basis: 35%;
}

.contact-l p {
    font-size: 20px;
    line-height: 20px;
    margin: 16px 0;
}

.contact-l p i {
    margin: 0 10px;
    color: #135792;
}

.contact-l .social-media {
    margin: 40px 0;
}

.contact-l .social-media a {
    font-size: 20px;
    width: 50px;
    height: 50px;
    background: white;
    color: var(--redColor);
    border-radius: 50%;
    position: relative;
    padding: 8px 20px;
    margin: 0 15px;
    transition: background 0.6s;
}

.contact-l .social-media a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-l .social-media a:hover {
    background: black;
}

.contact-r {
    flex-basis: 60%;
}

.contact-r form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-r form input,
textarea {
    width: 100%;
    margin: 16px 0;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    border: 1px solid transparent;
    outline: none;
}

.contact-r form input:hover,
textarea:hover {
    border: 1px solid var(--redColor);
}

.contact-r form button {
    width: fit-content;
    background: transparent;
    color: black;
    padding: 8px 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--redColor);
    transition: all 0.6s;
    margin: 16px 0;
}

.contact-r form button:hover {
    background: var(--redColor);
}

.download-btn  {
    padding: 10px 30px;
    border-radius: 10px;
    background: var(--redColor);
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    transition: 0.6s;
}

.download-btn:hover {
    box-shadow: 0 0 15px 1px var(--redColor);
}

nav .fa-solid {
    display: none;
}


@media only screen and (max-width:600px) {

    header {
        background: transparent;
    }

    .container {
        padding: 2px 6%;
    }

    .title {
        font-size: 14vmin;
        text-align: center;
    }

    nav .fa-solid {
        display: block;
        font-size: 20px;
    }

    nav ul {
        position: absolute;
        top: -100px;
        left: 0;
        background: var(--redColor);
        width: 100vw;
        height: auto;
        z-index: 1;
        padding: 20px 0;
        transition: top 0.6s;
        text-align: center;
    }

    nav ul li {
        display: inline-block;
        margin: 0px 8px;
        font-weight: bold;
    }

    .animate {
        top: 80px;
    }

    nav ul i {
        position: absolute;
        top: 20px;
        left: 50%;
        font-weight: bold;
    }

    nav .fa-bars {
        margin-top: 20px;
        font-size: 28px;
    }

    
    #about {
        padding: 0;
    }

    .row {
        align-items: center;
    }

    .row .col-1,
    .row .col-2 {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .tab-links {
        margin-right: 45px;
    }
    
    #work {
        padding: 40px 0;
    }

    .work-list {
        grid-template-columns: auto;
    }
    

    .container .btn {
        margin-top: 40px;
    }

   
    #contact {
        padding: 40px 0;
    }

    .contact-l,
    .contact-r {
        flex-basis: 100%;
    }

    .contact-l .social-media {
        text-align: center;
    }

    .download-btn,
    .contact-r form button {
        padding: 10px 20px;
        width: fit-content;
        display: block;
        margin: 20px auto;
    }
}
footer {
    display: block;
    padding: 10px 0;
    text-align: center;
    background:black;
    color:#fffeee;
    font-size: 18px;
}
#colorbutton  {
    padding: 10px 5px ;
    border-radius: 10px ;
    background: var(--redColor);
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    transition: 0.6s;
}

#colorbutton:hover {
    box-shadow: 0 0 15px 1px var(--redColor);
}